/* fontes */

@font-face {
    font-family: "Open Sans";
    src: url(fonts/open-sans/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/open-sans/OpenSans-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/open-sans/OpenSans-Italic.ttf);
    font-weight: italic;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/open-sans/OpenSans-Light.ttf);
    font-weight: lighter;
    font-style: lighter;
}

/* header */

header {
	background: #004dd6;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 100%;
	height: 48px;
}

.logo {
	display: flex;
	margin-top: 8px;
	margin-left: 8px;
	transition: 0.25s;
}

.logo:hover {
	filter: brightness(200%);
}

.centerText {
	color:whitesmoke;
	text-decoration: none;
	font-size: 0.7rem;
	font-weight: bold;
    position: absolute;
	top: 22px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.menu {
	display: flex;
	justify-content: right;
	align-items: center;
	margin-right: 8px;
}

.menu a {
	color:whitesmoke;
	text-decoration: none;
	font-size: 1rem;
	font-weight: lighter;
	padding: .5em;
	transition: 0.25s;
}

.menu a:hover {
	background-color: #ffffff32;
}

/* página inicial */

.welcome {
	margin: 0;
	text-align: center;
	font-weight: normal;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.welcomeMain {
	font-size: 3rem;
	font-weight: bold;
}

.avatar {
	padding: 1em;
	border-radius: 50%;
}

.socialLinks {
	padding: 0.25em;
	height: 32px;
	transition: 0.25s;
}

.socialLinks:hover {
	transform: scale(1.25);
}

/* corpo */

* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
}

body {
	color: whitesmoke;
	background: #111;
	display: flex;
    flex-flow: column;
}

.mainText {
	font-size: 1.125rem;
	text-align: justify;
    max-width: 70%;
    margin: 0 auto;
	padding-top: 32px;
	padding-bottom: 32px;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.headlineText {
	display: block;
	text-align: center;
	max-width: 80%;
	margin: 0 auto;
	padding-top: 32px;
	padding-bottom: 32px;
}

h3, h4, h5, h6 {
	display: block;
	text-align: center;
}

.blogTitle {
	font-size: large;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

.blogImg {
	display: block;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
	padding-bottom: 24px;
}

/* pedaço de css kibado daqui: https://landchad.net/style.css */

code {
	border-radius: 5px ;
}

pre {
	background: #080808 ;
	border: 1px solid gray ;
	border-radius: 20px ;
	padding: 1em ;
	white-space: pre-wrap;
	overflow-wrap: break-word ;
	max-width: 600px ;
	margin: auto ;
}