body {
	color: white;
	background: #181A1B;
	margin-bottom: 200px;
    	font-family: sans-serif;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p {
	text-align: center;
	max-width: 80%;
	margin: 0 auto;
}

/* pedaço de css kibado daqui: https://landchad.net/style.css */
blockquote {
	border-radius: 5px ;
}

pre {
	background: #111 ;
	border: 1px solid gray ;
	border-radius: 20px ;
	padding: 1em ;
	white-space: pre-wrap;
	overflow-wrap: break-word ;
	max-width: 600px ;
	margin: auto ;
}